body {
  font-family: Georgia, serif;
  font-size:  16px;
  line-height: 18px;
  color: #333;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
}

h1 {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.4em;
  margin-bottom: 1em;
}

h2 {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.2em;
  margin-top: -0.8em;
  margin-bottom: 1em;
  color: #666;
}

ol, ul {
  padding-left: 1em;
  list-style-type: none;
  position: relative;     /* make it positioned so .action-links positioning works */
}

.activities-list {
  width: 30em;
}

li {
  padding: 0.5em 1em;
}

li:nth-child(even) {
  background-color: #ffffe6;
}

li:nth-child(odd) {
  background-color: #f0f0f0;
}

.action-links {
  position: absolute;
  right: 1em;
}

a { 
  color: #33a; 
  text-decoration: none;
}

a:hover { color: #fff; background-color:#000; }

.activity-page-text {
  padding: 0.5em 1em;
}

.activity-page-text h1 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/** Scaffold stuff **/


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}