<ol class='activity-page-list'>
  <% @activity.activity_pages.each do |page| %>  
  <li class='activity-page'>
    <%=h page.name %>

    <span class='action-links'>
      <%= link_to 'Edit', edit_activity_page_path(@activity, page, :return_to => url_for(:only_path => true)) %> |
      <%= link_to 'Delete', activity_page_path(@activity, page, :return_to => url_for(:only_path => true)), 
        :confirm => 'Are you sure?', :method => :delete %>
    </span>

    <div class='activity-page-text'>
      <%= page.intro_text %>
    </div>

  </li>
  <% end %>
</ol>