<html>
<head>
  <title>Beginnings of Rails App</title>
</head>
<body>
  <h1>This is the beginnings of a Rails application.</h1>
  <p>Really, we're not so interested in HTML templates as in JSON</p>
</body>
</html>
