<h1>Smartgraph Activities</h1>

<ol>
<% @activities.each do |activity| %>
  <li>
    <%= link_to activity.title, activity %> 
    <span class='action-links'><%= link_to 'Edit', edit_activity_path(activity) %> | 
    <%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></span>
  </li>
<% end %>
</ol>

<%= link_to 'Create a new activity', new_activity_path %>