<!doctype html>
<head>
  <meta charset='utf-8'>
  <title>Smartgraphs  </title>
  <link rel='stylesheet' href='/stylesheets/smartgraphs.css'>
</head>
<body>

  <div class='wrapper'>
    <p style="color: green"><%= notice %></p>

    <%= yield %>

  </div>

</body>
</html>
